html, body {
    background-color: rgb(194, 200, 202);
    height: 100%;
}

.heading {
    background-color: rgba(252, 252, 252, 0.952);
    padding: 3px;
    text-align: center;
 
}
.elle {
text-align: right;
position: relative;
}
.ribbon {
    display: flex;
    background-color: beige;
    border: 1px solid grey;
    box-shadow: white gray;
    padding: 1px;
    width: 200px;
    min-height: 100vh;
    max-width: 180px;
    flex-direction: column;
}

.links {
    font-size: medium;
    font-weight: 200;
    border-radius: 5px;
    height: 100%;
    justify-content: space-between;
    display: grid;
    margin-top: 50px;
    left: 10%;
}

.main {
    position: absolute;
    top: 22%;
    left: 20%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 70px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 70%;
}
.page{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    text-decoration: black;
    background-color: aqua;
}

.page2{
       padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    background-color: brown;
}

.flex {
    display: flex;
    top: 42%;
    left: 11%;
    position: absolute;
    height: 80%;
}